

/* Cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

/* Pie de página */
footer {
    background-color: #3b5998;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
/* index.html */
.index-content {
    background-color: #f9f9f9;
    padding: 30px;
}

#botonesInvhtml a {
    margin-bottom: 10px;
}



/* Servicios.html */

/* Estilos generales */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

/* Estilos para la tabla */

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: #fff;
}

/* Estilos para el paginador */

.pagination-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.page-item {
    display: flex;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

/* Estilos para el formulario y modal */

#serviceFormModal label {
    margin-bottom: 0.5rem;
}

#serviceModal .modal-dialog {
    max-width: 800px;
}

.details {
    display: none;
}

.service-cell {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-cell:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-cell span {
    font-weight: bold;
}

.service-cell div {
    display: flex;
}

/* Estilos para la tabla de detalles */

.details-table {
    width: 100%;
    margin-top: 10px;
}

.details-table th,
.details-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.details-table th {
    background-color: #f8f9fa;
}

.details-table td {
    background-color: #fff;
}


/* Estilos Funciones */
.solo-sesion {
    display: none;
}

.fecha-no-disponible {
    border: 2px solid red;
}